@use "../globals/variables";

.hero-wrapper:not(#contact-page .hero-wrapper):not(
    #skincare-page .hero-wrapper
  ) {
  width: 100%;
  background-image: url("/src/assets/hero-bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact-page .hero-wrapper {
  width: 100%;
}

#skincare-page .hero-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vmin - var(--hero-height));
}

#skincare-hero-wrapper {
  height: 100%;
  width: 85%;
}

#skincare-page .hero-wrapper {
  display: grid;
  place-items: center;
}

.wrapper {
  position: relative;
  width: 100%;
  padding: 0 var(--padding);
}

.main-hero {
  position: relative;
  height: 100vmin;
}

.side-logo-wrapper {
  position: absolute;
  top: 13.063rem;
  left: 0;
  padding-left: 4.875rem;
  border-bottom: 1.0625rem solid #e1ded9;

  &__main-content {
  }

  &__logo {
  }
}

.side-finally-wrapper {
  background-color: white;
  position: absolute;
  z-index: 1;
  bottom: 0;
  max-width: 455px;
  &__main-content {
    padding: 32px 40px;
    max-width: 100%;

    & > * + * {
      margin-top: 1rem;
    }
  }

  &__ctaLink {
    & > a {
      display: block;
      width: fit-content;
      text-decoration: none;
      color: black;
      border-radius: 50px;
      padding: 0.5em 34px;
      border: 1px solid black;
      transition: background-color 0.3s ease, border 0.3s ease;

      &:hover {
        background-color: variables.$hoverColor;
        border: 1px solid variables.$hoverColor;
      }
    }
  }
}

.regimen-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: calc(0vw + var(--padding));
  width: 330px;
  background-color: variables.$hoverColor;
  &__main-content {
    padding: 24px 40px;
  }

  &__top {
    margin-bottom: 16px;
  }

  &__ctaLink {
    & > a {
      position: relative;
      display: block;
      width: fit-content;
      color: black;
      padding-right: 40px;

      &::before {
        display: inline-block;
        content: "";
        width: 25px;
        height: 5px;
        border-bottom: 1px solid #333;
        position: absolute;
        right: 1px;
        top: 8px;
      }

      &::after {
        display: inline-block;
        content: "";
        width: 7px;
        height: 7px;
        border: 1px solid #333;
        border-bottom-color: rgb(51, 51, 51);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-left-color: rgb(51, 51, 51);
        border-left-style: solid;
        border-left-width: 1px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        border-bottom: 0;
        border-left: 0;
        right: 0;
        top: 9px;
      }
    }
  }
}

.regimen-builder-wrapper {
  width: min(50%, 37rem);

  font-size: 1rem;

  &__header {
    width: 70%;

    & h2 {
      font-size: 2em;
    }
  }

  &__inputName {
    width: 100%;
    border: none;
    outline: none;
    margin: 3em 0;
    padding: 1em 0;
    font-size: 1.2em;
    border-bottom: 1px solid #333 !important;
  }

  &__submit {
    color: #757575;
    border-color: 1px solid #aaa;
    cursor: pointer;
    background: #fff;
    border: 1px solid #757575;
    outline: none;
    margin-left: auto;
    padding: 0.5em 4em;
    font-size: 0.85em;
    text-decoration: none;
    display: block;
  }

  &__form-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

#contact-page :where(.main-hero) {
  display: grid;
  place-items: center;
}
#contact-page :where(.side-finally-wrapper) {
  left: var(--padding);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#has-pseudo {
  position: relative;
}

#has-pseudo::after {
  position: absolute;
  content: "Currently not available";
  font-size: 0.35em;
  white-space: nowrap;
  left: 0;
  bottom: 0;
}

.skincares-flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;

  & .flex-item {
    font-size: 1rem;
  }

  & > * {
    width: 100%;
    height: 100%;
    padding: 3em 0;
  }
  &__flex-item-1 {
    & .bold-text {
      margin: 1.8em 0;
    }
  }
  &__flex-item-4 {
    & .img-wrapper {
      width: min(80%, 15rem);
    }

    & .img {
      max-width: 100%;
    }
  }

  &__text-contents {
    & .title-small {
      font-size: 0.8em;
    }

    & .desc-big {
      font-size: 1.2em;
    }
  }

  &__thin {
    margin: 0.5em 0;
  }
}

.bold-text {
  font-weight: variables.getFontWeight("bold");
}

.bold-text:not(.skincares-flex-container__flex-item-1 > .bold-text):not(
    .desc-big
  ):not(.footer-wrapper__contact-form-title.bold-text):not(
    .footer-wrapper__li.bold-text
  ) {
  margin-top: 1.8em;
}

.promo-wrapper {
  width: 100%;
  position: relative;
  padding-top: var(--padding-each-section);
  border-top: 1px solid variables.$borderColor;
  border-bottom: 1px solid variables.$borderColor;
  overflow: hidden;

  & img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
  }
  &__main-content {
    width: 100%;
    height: 50vmin;
  }
}
