@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&family=Raleway:wght@400;500;600;700&display=swap");
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.navbar__top {
  width: 100%;
  height: 3rem;
  background-color: #000;
  display: grid;
  place-items: center;
}
.navbar__mid-carousel {
  overflow: hidden;
  height: 75%;
  width: 50%;
  color: white;
  margin-inline: auto;
}
.navbar__mid-carousel > .slides {
  width: 100%;
  height: 100%;
}
.navbar__mid-carousel > .slides > .slide {
  display: grid;
  place-content: center;
  min-width: 100%;
  min-height: 100%;
  animation: animateCarousel 3s ease-out infinite alternate;
}
.navbar__bottom {
  padding: 0.5rem 2vw;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__bottom .left-logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.navbar__bottom .left-logo .svg {
  display: block;
  width: 15px;
  height: 13px;
  object-fit: cover;
}
.navbar__bottom .left-logo .logo-text > span {
  display: block;
}
.navbar__bottom .mid-navlinks {
  height: 100%;
}
.navbar__bottom .mid-navlinks ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.navbar__bottom .mid-navlinks ul > li {
  display: block;
}
.navbar__bottom .mid-navlinks ul > li > a {
  font-weight: 700;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  color: black;
}
.navbar__bottom .right-icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar__bottom .right-icons > * {
  height: 28px;
}
:is(.smiley, .cart, .search) > span {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes animateCarousel {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
.hero-wrapper:not(#contact-page .hero-wrapper):not(#skincare-page .hero-wrapper) {
  width: 100%;
  background-image: url("/src/assets/hero-bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#contact-page .hero-wrapper {
  width: 100%;
}

#skincare-page .hero-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vmin - var(--hero-height));
}

#skincare-hero-wrapper {
  height: 100%;
  width: 85%;
}

#skincare-page .hero-wrapper {
  display: grid;
  place-items: center;
}

.wrapper {
  position: relative;
  width: 100%;
  padding: 0 var(--padding);
}

.main-hero {
  position: relative;
  height: 100vmin;
}

.side-logo-wrapper {
  position: absolute;
  top: 13.063rem;
  left: 0;
  padding-left: 4.875rem;
  border-bottom: 1.0625rem solid #e1ded9;
}
.side-finally-wrapper {
  background-color: white;
  position: absolute;
  z-index: 1;
  bottom: 0;
  max-width: 455px;
}
.side-finally-wrapper__main-content {
  padding: 32px 40px;
  max-width: 100%;
}
.side-finally-wrapper__main-content > * + * {
  margin-top: 1rem;
}
.side-finally-wrapper__ctaLink > a {
  display: block;
  width: fit-content;
  text-decoration: none;
  color: black;
  border-radius: 50px;
  padding: 0.5em 34px;
  border: 1px solid black;
  transition: background-color 0.3s ease, border 0.3s ease;
}
.side-finally-wrapper__ctaLink > a:hover {
  background-color: #fde04b;
  border: 1px solid #fde04b;
}

.regimen-wrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: calc(0vw + var(--padding));
  width: 330px;
  background-color: #fde04b;
}
.regimen-wrapper__main-content {
  padding: 24px 40px;
}
.regimen-wrapper__top {
  margin-bottom: 16px;
}
.regimen-wrapper__ctaLink > a {
  position: relative;
  display: block;
  width: fit-content;
  color: black;
  padding-right: 40px;
}
.regimen-wrapper__ctaLink > a::before {
  display: inline-block;
  content: "";
  width: 25px;
  height: 5px;
  border-bottom: 1px solid #333;
  position: absolute;
  right: 1px;
  top: 8px;
}
.regimen-wrapper__ctaLink > a::after {
  display: inline-block;
  content: "";
  width: 7px;
  height: 7px;
  border: 1px solid #333;
  border-bottom-color: rgb(51, 51, 51);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(51, 51, 51);
  border-left-style: solid;
  border-left-width: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  border-bottom: 0;
  border-left: 0;
  right: 0;
  top: 9px;
}

.regimen-builder-wrapper {
  width: min(50%, 37rem);
  font-size: 1rem;
}
.regimen-builder-wrapper__header {
  width: 70%;
}
.regimen-builder-wrapper__header h2 {
  font-size: 2em;
}
.regimen-builder-wrapper__inputName {
  width: 100%;
  border: none;
  outline: none;
  margin: 3em 0;
  padding: 1em 0;
  font-size: 1.2em;
  border-bottom: 1px solid #333 !important;
}
.regimen-builder-wrapper__submit {
  color: #757575;
  border-color: 1px solid #aaa;
  cursor: pointer;
  background: #fff;
  border: 1px solid #757575;
  outline: none;
  margin-left: auto;
  padding: 0.5em 4em;
  font-size: 0.85em;
  text-decoration: none;
  display: block;
}
.regimen-builder-wrapper__form-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-page :where(.main-hero) {
  display: grid;
  place-items: center;
}

#contact-page :where(.side-finally-wrapper) {
  left: var(--padding);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

#has-pseudo {
  position: relative;
}

#has-pseudo::after {
  position: absolute;
  content: "Currently not available";
  font-size: 0.35em;
  white-space: nowrap;
  left: 0;
  bottom: 0;
}

.skincares-flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.skincares-flex-container .flex-item {
  font-size: 1rem;
}
.skincares-flex-container > * {
  width: 100%;
  height: 100%;
  padding: 3em 0;
}
.skincares-flex-container__flex-item-1 .bold-text {
  margin: 1.8em 0;
}
.skincares-flex-container__flex-item-4 .img-wrapper {
  width: min(80%, 15rem);
}
.skincares-flex-container__flex-item-4 .img {
  max-width: 100%;
}
.skincares-flex-container__text-contents .title-small {
  font-size: 0.8em;
}
.skincares-flex-container__text-contents .desc-big {
  font-size: 1.2em;
}
.skincares-flex-container__thin {
  margin: 0.5em 0;
}

.bold-text {
  font-weight: 700;
}

.bold-text:not(.skincares-flex-container__flex-item-1 > .bold-text):not(.desc-big) {
  margin-top: 1.8em;
}

.products-wrapper {
  width: 100%;
}

.main-content {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.swiper-products {
  cursor: grab;
  border-top: 1px solid #e1ded9;
  border-bottom: 1px solid #e1ded9;
  width: 100%;
  height: 300px;
  position: relative;
}
.swiper-products__swiper-wrapper {
  transition: 5s ease-in-out;
  width: 100%;
  height: 100%;
}
.swiper-products__swiper-slide {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.swiper-products__flex {
  width: 100%;
  height: 100%;
  display: flex;
}
.swiper-products__flex > * {
  width: 100%;
  height: 100%;
  flex: 0 auto;
  display: grid;
  place-items: center;
}
.swiper-products__flex-item-1 img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.swiper-products__flex-item-2 {
  width: 100%;
  height: 100%;
  flex: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.swiper-products__flex-item-2 a {
  text-decoration: none;
  color: black;
}
.nav-pills {
  align-items: center;
  gap: 5rem;
  font-size: 1rem;
  list-style-type: none;
  display: flex;
}
.nav-pills > li {
  cursor: pointer;
  font-size: 2.3em;
  font-weight: 600;
  padding-bottom: 1rem;
}
.nav-pills > li[data-active=true] {
  border-bottom: 3px solid black;
}

.swiper-scrollbar {
  background: transparent !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 0 !important;
}

.swiper-scrollbar-drag {
  transition: transform 800ms ease-out !important;
  height: 4px !important;
  background: #333 !important;
  border-radius: unset !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
}

html {
  scrollbar-color: black rgb(59, 55, 55) !important;
  scrollbar-width: thin;
}

a {
  text-decoration: none;
}

.mobile-zone {
  display: none;
}

@media all and (max-width: 985px) {
  body {
    display: grid;
    place-content: center;
    padding: 0 10vw;
  }
  .mobile-zone {
    display: block;
    font-size: clamp(1rem, 5vw, 3rem);
    width: fit-content;
    text-align: center;
    margin-inline: auto;
  }
  .hero-wrapper,
.products-wrapper, #skincare-page .hero-wrapper {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */